{% extends "core/base.html" %}
{% load static %}

{% block page_title %}
    <title>Index</title>
{% endblock page_title %}

{% block content %}
    <div class="text-center">
        <h1>django-custom-slug-field</h1>
        <hr>
        {% if test_data %}
            <div class="list-group">
                {% for item in test_data %}
                    <a href="{% url 'detail_view' item.slug %}" class="list-group-item list-group-item-action">
                        {{ item.name }}
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <p>No data found.</p>
        {% endif %}
    </div>
{% endblock content %}
